language: bash

script:
  - | 
    set -e
    CHANGED_FILES=`git show`
    NOT_SOURCE=True
    TYPE="json"

    echo $CHANGED_FILES
    
    for CHANGED_FILE in $CHANGED_FILES; do
      if [[ $CHANGED_FILES =~ $TYPE ]]; then
        NOT_SOURCE=False
        break
      fi
    done

    if [[ $NOT_SOURCE == True ]]; then
      echo "No source changes identified, exiting."
      travis_terminate 0
      exit 1
    else
      echo "Source changes found. Building."
      bash webhook.sh
    fi 
