#language: bash

#script:
set -e

CHANGED_FILES=`git diff --name-only master...${TRAVIS_COMMIT}`
ONLY_SOURCE=True
TYPE=".json"

for CHANGED_FILE in $CHANGED_FILES; do
  if ! [[ $CHANGED_FILES =~ $TYPE ]]; then
    ONLY_Source=False
    break
  fi
done

if [[ $ONLY_FILES == True ]]; then
  echo "No source changes identified, exiting."
  travis_terminate 0
  exit 1
else
  echo "Source changes found. Building."
  # bash webhook.sh
fi
